.wrapper
  .notification
    .notice
      チャットグループが作成されました。
  .side-bar
    .groups
      .group
        = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
          .Members
            Members:
            %ul.left-header__members
              %li.member
                = current_user.name
      .right-header
        .right-header__buttoms
          .right-header__buttom
            =link_to "Edit",edit_group_path(@group), class: "right-header__buttom__edit"
    .contents
      = render @messages
    .footer
      .form.clearfix
        = form_for [@group, @message], id: 'new_message' do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            %label.form__mask__image
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
          .square_buttom
