.wrapper
  .notification
    .notice
      チャットグループが作成されました。
  .side-bar
    .groups
      .group
        = render 'shared/side_bar'
  / - ここからchatのところ
  .chat
    .header
      .left-header
        .left-header__title
          sampleグループ
          .Members
            Members:
            %ul.left-header__members
              %li.member
                ryosukemaehira
      .right-header
        .right-header__buttoms
          .right-header__buttom
            %p Edit
    .contents
      .message
        - @messages.each do |message|
          .upper-message
            %span.upper-message__user-name
              = message.user.name
            .upper-message__date
              = message.created_at
          .lower-message
            - if message.content.present?
              %p.lower-message__content
                = message.content
            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    / .footer
    /   .form
    /     %textarea{:placeholder => "type a message"}
    /     .square_buttom
    /       .square_btn
    /         %p Send
    /     .form__mask
    /       %label.form__mask__image{:for => "message_image"}
    /       %i.fa.fa-picture-o.icon
    .footer
      .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      / .form
      /   %textarea{:placeholder => "type a message"}
      /   .form__mask
      /     %label.form__mask__image{:for => "message_image"}
      /     %i.fa.fa-picture-o.icon
      /   .square_buttom
      /     .square_btn
      /       %p Send

